#navbar{
   display: flex;
   background-color: aliceblue;
   height: 20px;
   width: 90%;
   justify-content: space-around;
   margin: auto;
   padding: 30px;
}

#container{
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap: 30px;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    justify-content: space-around;
}

img{
    height: 300px;
    width: 300px;
}